{% extends "base.html" %}
{% block content %}

<h3 class="red-text text-darken-4 center-align">Customers</h3>

<div class="row">
    <div class="col s12 center-align">
        <a href="{{ url_for('add_customer') }}" class="btn-large red darken-2">
            Add Customer<i class="fas fa-plus-square right"></i>
        </a>
    </div>
</div>
<div class="row">
    {% for customer in customers %}
    <div class="col s12 m6 l3">
        <div class="card red darken-4 center-align">
            <div class="card-content black-text">
                <span class="card-title">{{ customer.customer_name }}</span>
            </div>
            <div class="card-action">
                <a href="#" class="btn blue accent-4">Update</a>
                <a href="#" class="btn red">Remove</a>
            </div>
        </div>
    </div>
    {% endfor %}
</div>

{% endblock %}
